@charset "UTF-8";

*{
    font-family: arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, rgb(169, 126, 248), rgb(238, 239, 245),
    rgb(139, 197, 245));
}

main {
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    box-shadow: 10px 10px 10px #9c561c;
    width: 300px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #ec8027;
    text-align: center;
    text-shadow: 1px 1px 0px rgb(247, 119, 119);
}
h2 {
    color: rgb(226, 158, 33);
    padding: 20px;
    text-shadow: 1px 1px 0px rgb(219, 159, 46);

}

p {
    text-align: justify;
    color: rgb(2, 2, 119);
}